@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Sam's #1 Page";
    ViewBag.Header = "Meet your New Favorite Student";
}

<body>
    <center>
        <h2>---Samantha Berg---</h2>
        <img src="~/img/IMG_7372.jpg" />
        <p>IS 413 is going to be great</p>
        <p>I hope to gain confidence in my coding abilities so that i could pursue an internship or job in the future.</p>
    </center>
    <br />
    <!--Jobs i want-->
    <p class="jobs"> Top 3 Jobs:</p>
    <ul class="quiz-props">
        <li>1: Project Manager</li>
        <li>2: Data Analyst</li>
        <li>3: Millionare</li>
    </ul>
    <br />
   
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/FanMail.js"></script>

</body>
